<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Крестики-нолики с аукционом</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{.GA_TRACKING_ID}}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div class="container">
    <h1>Крестики-нолики с аукционом</h1>
    <hr>
    Эта страница на <a href="/">English</a>.
    </hr>

    <h2>Бот для Телеграмм</h2>
    <p>Вы можете играть с вашим другом прямо в Телеграм-чате <a
            href="https://t.me/BiddingTicTacToeBot?star=lang-ru__utm-website">@BiddingTicTacToeBot</a>.</p>

    <h2 id="rules">Правила игры</h2>
    <ul>
        <li>Каждому игроку выдаётся по 100 жетонов на начало игры.</li>
        <li>Чтобы выиграть право хода игроки делают ставки.</li>
        <li>Ход делает тот кто сделал большую савку. Если ставки одинаковы выигрывает игрок с большим балансом. Если
            ставки и балансы одинаковы выигрывает тот кто сделал ставку первым.
        </li>
        <li>Сделавший ход передаёт свою ставку другому игроку.</li>
        <li>Игру выигрывает тот кто построит непрерывную линию от края до края или из угла в угол.</li>
    </ul>

    <h2>Исходные коды открыты!</h2>
    <p>This game is written in <a href="https://golang.org/">Go</a> language using <a href="https://github.com/strongo/bots-framework">Strongo Bots Framework</a>.</p>
    <p><b>The repository:</b> <a href="https://github.com/strongo/bidding-tictactoe-bot">https://github.com/strongo/bidding-tictactoe-bot</a></p>
</div>
</body>
</html>